{% extends "network/layout.html" %}

{% block body %}

  <div class="container">
    <section>
      <h1 class="pt-1 pb-1">All Posts</h1>
      {% if user.is_authenticated %}
        <div class="card p-3">
          <h3>New Post</h3>
          <form action="{% url 'posts' %}" method="post">
            {{form.non_field_errors}}
            {% csrf_token %}
            <div class="form-group">
              {{form.content.errors}}
              <label for="{{form.content.id_for_label}}"></label>
              {{form.content}}
            </div>
            <button class="btn btn-primary" type="submit">Post</button>
          </form>
        </div>
    </section>
      {% endif %}
      {% include "network/posts.html" %}
      {% include "network/posts_pagination.html" %}
  </div>
{% endblock %}
